## 2. PREPARACIÓN DE LOS DATOS

Acciones previas:
- Cargar las librerías a usar 
- Definir directorio Google para almacenar el notebook
- Cargar conjunto de datos

In [1]:
#IMPORTAR LIBRERÍAS
import numpy as np #Numpy
import pandas as pd #Pandas 
import matplotlib.pyplot as plt #Matplotlib
import os
from sklearn import preprocessing #metodos de machine learning optimizados y validados

In [2]:
# Dar permisos a Colab para acceder a directorios Google Drive
from google.colab import drive
drive.mount('/content/drive')

BASE_FOLDER = '/content/drive/My Drive/TFM/DATASETS/Dataset_TFM/CSV/'

Mounted at /content/drive

In [3]:
#CARGAR DATASETS
#Obtener dataframes de datos 
df_errors = pd.read_csv(BASE_FOLDER + 'PdM_errors.csv')
df_failures = pd.read_csv(BASE_FOLDER + 'PdM_failures.csv')
df_machines = pd.read_csv(BASE_FOLDER + 'PdM_machines.csv')
df_maint = pd.read_csv(BASE_FOLDER + 'PdM_maint.csv')
df_telemetry = pd.read_csv(BASE_FOLDER + 'PdM_telemetry.csv')

### 2.1 Limpieza datos

##### A) SUBCONJUNTO: CONDICIONES Y USO DE LA MÁQUINA

In [4]:
#Información sobre modelo y antigüedad máquinas
df_machines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   machineID  100 non-null    int64
 1   model      100 non-null    object
 2   age        100 non-null    int64
dtypes: int64(2), object(1)
memory usage: 2.5+ KB

- No se detectan valores nulos, por tanto no es necesario aplicar técnica de imputación de valores nulos. 
Solamente se aplicarán cambios de formato.

In [5]:
df_machines.sample(5)

    machineID   model  age
88         89  model3   17
12         13  model1   15
63         64  model3   20
17         18  model3   15
70         71  model2   18

- Quitar la cadena de caracteres "model" a los valores del atributo "model".

- Asignar tipo de formato a cada atributo.

In [6]:
#Pre-procesar dataset antigüedad y modelos 
dfp_machines = pd.DataFrame()
dfp_machines['machineID'] = pd.to_numeric(df_machines['machineID'])
dfp_machines['model'] = pd.to_numeric(df_machines['model'].str.replace('model',''))
dfp_machines['age'] = pd.to_numeric(df_machines['age'])
display(dfp_machines)
print(dfp_machines.dtypes,'\n')

    machineID  model  age
0           1      3   18
1           2      4    7
2           3      3    8
3           4      3    7
4           5      3    2
..        ...    ...  ...
95         96      2   10
96         97      2   14
97         98      2   20
98         99      1   14
99        100      4    5

[100 rows x 3 columns]

machineID    int64
model        int64
age          int64
dtype: object

In [7]:
dfp_machines.sample(5)

    machineID  model  age
95         96      2   10
37         38      4   15
99        100      4    5
32         33      3   14
72         73      2   20

##### B) SUBCONJUNTO: HISTORIAL DE MANTENIMIENTO

In [8]:
#Información sobre dataset mantenimiento
df_maint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3286 entries, 0 to 3285
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3286 non-null   object
 1   machineID  3286 non-null   int64
 2   comp       3286 non-null   object
dtypes: int64(1), object(2)
memory usage: 77.1+ KB

No se detectan valores nulos.

In [9]:
# display(df_maint)
df_maint.sample(5)

                 datetime  machineID   comp
2082  2015-04-05 06:00:00         64  comp3
582   2015-07-29 06:00:00         18  comp2
2077  2015-01-20 06:00:00         64  comp1
2986  2015-12-28 06:00:00         91  comp3
2924  2015-11-19 06:00:00         89  comp2

- Suprimir cadena de caracteres "comp" a los valores del atributo "comp". 
- Asignar tipo de formato a cada atributo.

In [10]:
#Pre-procesar dataset de mantenimiento 
dfp_maint = pd.DataFrame()
dfp_maint['datetime'] = pd.to_datetime(df_maint['datetime'])
dfp_maint['machineID'] = pd.to_numeric(df_maint['machineID'])
dfp_maint['comp'] = pd.to_numeric(df_maint['comp'].str.replace('comp',''))
display(dfp_maint)
print(dfp_maint.dtypes,'\n')

                datetime  machineID  comp
0    2014-06-01 06:00:00          1     2
1    2014-07-16 06:00:00          1     4
2    2014-07-31 06:00:00          1     3
3    2014-12-13 06:00:00          1     1
4    2015-01-05 06:00:00          1     4
...                  ...        ...   ...
3281 2015-10-10 06:00:00        100     3
3282 2015-10-25 06:00:00        100     4
3283 2015-11-09 06:00:00        100     4
3284 2015-12-09 06:00:00        100     2
3285 2015-12-24 06:00:00        100     2

[3286 rows x 3 columns]

datetime     datetime64[ns]
machineID             int64
comp                  int64
dtype: object

In [11]:
dfp_maint.sample(5)

                datetime  machineID  comp
2913 2015-06-07 06:00:00         89     2
208  2014-07-01 06:00:00          7     1
3251 2015-09-30 06:00:00         99     3
1938 2014-07-16 06:00:00         60     2
1691 2015-03-20 06:00:00         52     2

##### C) SUBCONJUNTO: HISTORIAL DE FALLOS

In [12]:
#Información sobre dataset de fallos
df_failures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761 entries, 0 to 760
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   761 non-null    object
 1   machineID  761 non-null    int64
 2   failure    761 non-null    object
dtypes: int64(1), object(2)
memory usage: 18.0+ KB

No se detectan valores nulos

In [13]:
df_failures.sample(5)

                datetime  machineID failure
483  2015-06-15 06:00:00         67   comp1
273  2015-04-19 06:00:00         37   comp4
597  2015-03-17 06:00:00         83   comp4
190  2015-04-02 06:00:00         24   comp4
418  2015-11-25 06:00:00         56   comp2

- Sumprimir cadena de carácteres "comp" a los valores del atributo "failure".
- Asignar tipo de formato a cada atributo.

In [14]:
#Pre-procesar dataset de fallos
dfp_failures = pd.DataFrame()
dfp_failures['datetime'] = pd.to_datetime(df_failures['datetime'])
dfp_failures['machineID'] = pd.to_numeric(df_failures['machineID'])
dfp_failures['failure'] = pd.to_numeric(df_failures['failure'].str.replace('comp','')) 
display(dfp_failures)
print(dfp_failures.dtypes,'\n')

               datetime  machineID  failure
0   2015-01-05 06:00:00          1        4
1   2015-03-06 06:00:00          1        1
2   2015-04-20 06:00:00          1        2
3   2015-06-19 06:00:00          1        4
4   2015-09-02 06:00:00          1        4
..                  ...        ...      ...
756 2015-11-29 06:00:00         99        3
757 2015-12-14 06:00:00         99        4
758 2015-02-12 06:00:00        100        1
759 2015-09-10 06:00:00        100        1
760 2015-12-09 06:00:00        100        2

[761 rows x 3 columns]

datetime     datetime64[ns]
machineID             int64
failure               int64
dtype: object

In [27]:
dfp_failures.sample(5)

               datetime  machineID  failure
465 2015-05-05 06:00:00         64        4
376 2015-05-31 06:00:00         51        2
599 2015-05-31 06:00:00         83        2
49  2015-09-15 06:00:00          9        1
759 2015-09-10 06:00:00        100        1

##### D) SUBCONJUNTO: HISTORIAL DE ERRORES

In [15]:
#Información sobre dataset de errores
df_errors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3919 entries, 0 to 3918
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   datetime   3919 non-null   object
 1   machineID  3919 non-null   int64
 2   errorID    3919 non-null   object
dtypes: int64(1), object(2)
memory usage: 92.0+ KB

No se detectan valores nulos

In [16]:
display(df_errors)
df_errors.sample(5)

                 datetime  machineID errorID
0     2015-01-03 07:00:00          1  error1
1     2015-01-03 20:00:00          1  error3
2     2015-01-04 06:00:00          1  error5
3     2015-01-10 15:00:00          1  error4
4     2015-01-22 10:00:00          1  error4
...                   ...        ...     ...
3914  2015-11-21 08:00:00        100  error2
3915  2015-12-04 02:00:00        100  error1
3916  2015-12-08 06:00:00        100  error2
3917  2015-12-08 06:00:00        100  error3
3918  2015-12-22 03:00:00        100  error3

[3919 rows x 3 columns]

                 datetime  machineID errorID
3298  2015-07-08 18:00:00         85  error3
3667  2015-12-31 23:00:00         94  error3
3099  2015-11-08 06:00:00         80  error3
443   2015-01-27 07:00:00         13  error1
3246  2015-04-04 06:00:00         84  error2

Quitar palabra error y aplicar formato a cada columna

In [17]:
#Pre-procesar dataset errores
dfp_errors = pd.DataFrame()
dfp_errors['datetime'] = pd.to_datetime(df_errors['datetime'])
dfp_errors['machineID'] = pd.to_numeric(df_errors['machineID'])
dfp_errors['errorID'] = pd.to_numeric(df_errors['errorID'].str.replace('error',''))
display(dfp_errors)
print(dfp_errors.dtypes,'\n')

                datetime  machineID  errorID
0    2015-01-03 07:00:00          1        1
1    2015-01-03 20:00:00          1        3
2    2015-01-04 06:00:00          1        5
3    2015-01-10 15:00:00          1        4
4    2015-01-22 10:00:00          1        4
...                  ...        ...      ...
3914 2015-11-21 08:00:00        100        2
3915 2015-12-04 02:00:00        100        1
3916 2015-12-08 06:00:00        100        2
3917 2015-12-08 06:00:00        100        3
3918 2015-12-22 03:00:00        100        3

[3919 rows x 3 columns]

datetime     datetime64[ns]
machineID             int64
errorID               int64
dtype: object

In [18]:
dfp_errors.sample(5)

                datetime  machineID  errorID
533  2015-04-23 02:00:00         15        2
2482 2015-05-15 09:00:00         65        2
1544 2015-09-05 03:00:00         40        5
3449 2015-07-21 06:00:00         89        2
2791 2015-12-22 23:00:00         72        2

##### E) SUBCONJUNTO: CARACTERÍSTICAS DE LAS MÁQUINAS

In [26]:
#Información sobre dataset datos sensores
df_telemetry.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 876100 entries, 0 to 876099
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   datetime   876100 non-null  object
 1   machineID  876100 non-null  int64
 2   volt       876100 non-null  float64
 3   rotate     876100 non-null  float64
 4   pressure   876100 non-null  float64
 5   vibration  876100 non-null  float64
dtypes: float64(4), int64(1), object(1)
memory usage: 40.1+ MB

No se detectan valores nulos

In [20]:
# display(df_telemetry)
df_telemetry.sample(5)

,datetime,machineID,volt,rotate,pressure,vibration
325349,2015-02-19 22:00:00,38,145.724166,474.220366,84.480520,35.916038
794692,2015-09-16 16:00:00,91,148.542995,391.411002,87.598889,39.163132
711762,2015-03-30 15:00:00,82,173.410797,491.420171,99.211555,37.369536
553522,2015-03-08 01:00:00,64,183.243250,380.593670,112.833473,36.049352
595163,2015-12-07 22:00:00,68,164.801606,431.686048,115.341588,44.912169

- Aplicar tipo de formato a cada atributo.

In [21]:
dfp_telemetry = pd.DataFrame()
dfp_telemetry['datetime'] = pd.to_datetime(df_telemetry['datetime'])
dfp_telemetry['machineID'] = pd.to_numeric(df_telemetry['machineID'])
dfp_telemetry['volt'] = pd.to_numeric(df_telemetry['volt'])
dfp_telemetry['rotate'] =  pd.to_numeric(df_telemetry['rotate'])
dfp_telemetry['pressure'] = pd.to_numeric(df_telemetry['pressure'])
dfp_telemetry['vibration'] = pd.to_numeric(df_telemetry['vibration'])
display(dfp_telemetry)
print(dfp_telemetry.dtypes,'\n')

,datetime,machineID,volt,rotate,pressure,vibration
0,2015-01-01 06:00:00,1,176.217853,418.504078,113.077935,45.087686
1,2015-01-01 07:00:00,1,162.879223,402.747490,95.460525,43.413973
2,2015-01-01 08:00:00,1,170.989902,527.349825,75.237905,34.178847
3,2015-01-01 09:00:00,1,162.462833,346.149335,109.248561,41.122144
4,2015-01-01 10:00:00,1,157.610021,435.376873,111.886648,25.990511
...,...,...,...,...,...,...
876095,2016-01-01 02:00:00,100,179.438162,395.222827,102.290715,50.771941
876096,2016-01-01 03:00:00,100,189.617555,446.207972,98.180607,35.123072
876097,2016-01-01 04:00:00,100,192.483414,447.816524,94.132837,48.314561
876098,2016-01-01 05:00:00,100,165.475310,413.771670,104.081073,44.835259
876099,2016-01-01 06:00:00,100,171.336037,496.096870,79.095538,37.845245

datetime     datetime64[ns]
machineID             int64
volt                float64
rotate              float64
pressure            float64
vibration           float64
dtype: object

- Normalizar datos de atributos "volt", "rotate", "pressure" y "vibration".

In [22]:
#Función para normalizar los datos
def minmax_norm(df_input):
  return (df_input - df_input.min()) / ( df_input.max() - df_input.min())

In [25]:
#Aplicar normalización 
dfp_telemetry['volt'] =  minmax_norm(dfp_telemetry['volt'])
dfp_telemetry['rotate'] =  minmax_norm(dfp_telemetry['rotate'])
dfp_telemetry['pressure'] =  minmax_norm(dfp_telemetry['pressure'])
dfp_telemetry['vibration'] =  minmax_norm(dfp_telemetry['vibration'])
display(dfp_telemetry)

                  datetime  machineID      volt    rotate  pressure  vibration
0      2015-01-01 06:00:00          1  0.499928  0.503194  0.459050   0.487945
1      2015-01-01 07:00:00          1  0.415395  0.474884  0.328274   0.460912
2      2015-01-01 08:00:00          1  0.466796  0.698752  0.178160   0.311752
3      2015-01-01 09:00:00          1  0.412756  0.373197  0.430624   0.423896
4      2015-01-01 10:00:00          1  0.382001  0.533508  0.450207   0.179498
...                    ...        ...       ...       ...       ...        ...
876095 2016-01-01 02:00:00        100  0.520337  0.461365  0.378975   0.579754
876096 2016-01-01 03:00:00        100  0.584849  0.552968  0.348466   0.327002
876097 2016-01-01 04:00:00        100  0.603011  0.555858  0.318419   0.540064
876098 2016-01-01 05:00:00        100  0.431848  0.494691  0.392265   0.483868
876099 2016-01-01 06:00:00        100  0.468990  0.642601  0.206795   0.370969

[876100 rows x 6 columns]

- Redondear decimales

In [ ]:
dfp_telemetry['volt'] = dfp_telemetry['volt'].round(5)
dfp_telemetry['rotate'] =  dfp_telemetry['rotate'].round(5)
dfp_telemetry['pressure'] =  dfp_telemetry['pressure'].round(5)
dfp_telemetry['vibration'] =  dfp_telemetry['vibration'].round(5)
display(dfp_telemetry)

                  datetime  machineID     volt   rotate  pressure  vibration
0      2015-01-01 06:00:00          1  0.49993  0.50319   0.45905    0.48794
1      2015-01-01 07:00:00          1  0.41539  0.47488   0.32827    0.46091
2      2015-01-01 08:00:00          1  0.46680  0.69875   0.17816    0.31175
3      2015-01-01 09:00:00          1  0.41276  0.37320   0.43062    0.42390
4      2015-01-01 10:00:00          1  0.38200  0.53351   0.45021    0.17950
...                    ...        ...      ...      ...       ...        ...
876095 2016-01-01 02:00:00        100  0.52034  0.46137   0.37898    0.57975
876096 2016-01-01 03:00:00        100  0.58485  0.55297   0.34847    0.32700
876097 2016-01-01 04:00:00        100  0.60301  0.55586   0.31842    0.54006
876098 2016-01-01 05:00:00        100  0.43185  0.49469   0.39227    0.48387
876099 2016-01-01 06:00:00        100  0.46899  0.64260   0.20680    0.37097

[876100 rows x 6 columns]

In [24]:
dfp_telemetry.sample(5)

                  datetime  machineID      volt    rotate  pressure  vibration
748540 2015-06-10 21:00:00         86  0.183538  0.517586  0.238246   0.369965
714202 2015-07-10 07:00:00         82  0.519255  0.582382  0.371067   0.386847
721727 2015-05-19 19:00:00         83  0.410797  0.534093  0.432089   0.298745
119021 2015-08-02 22:00:00         14  0.520080  0.640607  0.429248   0.539398
528493 2015-04-29 07:00:00         61  0.448341  0.618780  0.404236   0.444504

##### RESULTADOS FINALES

In [28]:
display(dfp_machines)
display(dfp_maint)
display(dfp_failures)
display(dfp_errors)
display(dfp_telemetry)

    machineID  model  age
0           1      3   18
1           2      4    7
2           3      3    8
3           4      3    7
4           5      3    2
..        ...    ...  ...
95         96      2   10
96         97      2   14
97         98      2   20
98         99      1   14
99        100      4    5

[100 rows x 3 columns]

                datetime  machineID  comp
0    2014-06-01 06:00:00          1     2
1    2014-07-16 06:00:00          1     4
2    2014-07-31 06:00:00          1     3
3    2014-12-13 06:00:00          1     1
4    2015-01-05 06:00:00          1     4
...                  ...        ...   ...
3281 2015-10-10 06:00:00        100     3
3282 2015-10-25 06:00:00        100     4
3283 2015-11-09 06:00:00        100     4
3284 2015-12-09 06:00:00        100     2
3285 2015-12-24 06:00:00        100     2

[3286 rows x 3 columns]

               datetime  machineID  failure
0   2015-01-05 06:00:00          1        4
1   2015-03-06 06:00:00          1        1
2   2015-04-20 06:00:00          1        2
3   2015-06-19 06:00:00          1        4
4   2015-09-02 06:00:00          1        4
..                  ...        ...      ...
756 2015-11-29 06:00:00         99        3
757 2015-12-14 06:00:00         99        4
758 2015-02-12 06:00:00        100        1
759 2015-09-10 06:00:00        100        1
760 2015-12-09 06:00:00        100        2

[761 rows x 3 columns]

                datetime  machineID  errorID
0    2015-01-03 07:00:00          1        1
1    2015-01-03 20:00:00          1        3
2    2015-01-04 06:00:00          1        5
3    2015-01-10 15:00:00          1        4
4    2015-01-22 10:00:00          1        4
...                  ...        ...      ...
3914 2015-11-21 08:00:00        100        2
3915 2015-12-04 02:00:00        100        1
3916 2015-12-08 06:00:00        100        2
3917 2015-12-08 06:00:00        100        3
3918 2015-12-22 03:00:00        100        3

[3919 rows x 3 columns]

                  datetime  machineID      volt    rotate  pressure  vibration
0      2015-01-01 06:00:00          1  0.499928  0.503194  0.459050   0.487945
1      2015-01-01 07:00:00          1  0.415395  0.474884  0.328274   0.460912
2      2015-01-01 08:00:00          1  0.466796  0.698752  0.178160   0.311752
3      2015-01-01 09:00:00          1  0.412756  0.373197  0.430624   0.423896
4      2015-01-01 10:00:00          1  0.382001  0.533508  0.450207   0.179498
...                    ...        ...       ...       ...       ...        ...
876095 2016-01-01 02:00:00        100  0.520337  0.461365  0.378975   0.579754
876096 2016-01-01 03:00:00        100  0.584849  0.552968  0.348466   0.327002
876097 2016-01-01 04:00:00        100  0.603011  0.555858  0.318419   0.540064
876098 2016-01-01 05:00:00        100  0.431848  0.494691  0.392265   0.483868
876099 2016-01-01 06:00:00        100  0.468990  0.642601  0.206795   0.370969

[876100 rows x 6 columns]

### 2.2 Composición de nuevos datos

##### C) SUBCONJUNTO: HISTORIAL DE FALLOS

Añadir una columna para indicar si hay un fallo o no (1 o 0, en este caso todos 1), servirá como clase del dataset final

In [29]:
dfp2_failures = pd.DataFrame() #crear dataframe
dfp2_failures = dfp_failures.copy(deep=True) #Copiar dataframe
dfp2_failures.columns = ['datetime', 'machineID', 'comp'] #Renombrar columnas
dfp2_failures.insert(3, 'failure', 1) #Añadir columna con 1 para indicar que hay un fallo
display(dfp2_failures)
print(dfp2_failures.dtypes,'\n')

               datetime  machineID  comp  failure
0   2015-01-05 06:00:00          1     4        1
1   2015-03-06 06:00:00          1     1        1
2   2015-04-20 06:00:00          1     2        1
3   2015-06-19 06:00:00          1     4        1
4   2015-09-02 06:00:00          1     4        1
..                  ...        ...   ...      ...
756 2015-11-29 06:00:00         99     3        1
757 2015-12-14 06:00:00         99     4        1
758 2015-02-12 06:00:00        100     1        1
759 2015-09-10 06:00:00        100     1        1
760 2015-12-09 06:00:00        100     2        1

[761 rows x 4 columns]

datetime     datetime64[ns]
machineID             int64
comp                  int64
failure               int64
dtype: object

In [30]:
dfp2_failures.sample(5)

               datetime  machineID  comp  failure
530 2015-07-16 06:00:00         73     1        1
173 2015-09-19 06:00:00         22     2        1
388 2015-10-31 06:00:00         52     4        1
500 2015-09-02 06:00:00         69     4        1
139 2015-02-03 06:00:00         20     3        1

### 2.3 Combinación de los datos

#### 2.3.1 Fusionar **"Historial de mantenimiento"** + **"Historial de fallos"** 

Indicar de cada componente reemplazado, si se debe a un fallo

In [31]:
#Dataset mantenimiento + fallos
df_global = pd.DataFrame()
df_global = pd.merge(dfp_maint, dfp2_failures, how='left', on = ['datetime', 'machineID', 'comp'])
display(df_global)

                datetime  machineID  comp  failure
0    2014-06-01 06:00:00          1     2      NaN
1    2014-07-16 06:00:00          1     4      NaN
2    2014-07-31 06:00:00          1     3      NaN
3    2014-12-13 06:00:00          1     1      NaN
4    2015-01-05 06:00:00          1     4      1.0
...                  ...        ...   ...      ...
3281 2015-10-10 06:00:00        100     3      NaN
3282 2015-10-25 06:00:00        100     4      NaN
3283 2015-11-09 06:00:00        100     4      NaN
3284 2015-12-09 06:00:00        100     2      1.0
3285 2015-12-24 06:00:00        100     2      NaN

[3286 rows x 4 columns]

In [32]:
#Sustituir valores Nans por 0
df_global = df_global.fillna(0)
display(df_global)

                datetime  machineID  comp  failure
0    2014-06-01 06:00:00          1     2      0.0
1    2014-07-16 06:00:00          1     4      0.0
2    2014-07-31 06:00:00          1     3      0.0
3    2014-12-13 06:00:00          1     1      0.0
4    2015-01-05 06:00:00          1     4      1.0
...                  ...        ...   ...      ...
3281 2015-10-10 06:00:00        100     3      0.0
3282 2015-10-25 06:00:00        100     4      0.0
3283 2015-11-09 06:00:00        100     4      0.0
3284 2015-12-09 06:00:00        100     2      1.0
3285 2015-12-24 06:00:00        100     2      0.0

[3286 rows x 4 columns]

In [33]:
df_global.sample(5)

                datetime  machineID  comp  failure
471  2015-11-12 06:00:00         14     4      0.0
2162 2015-09-01 06:00:00         66     4      0.0
1339 2015-06-01 06:00:00         41     2      0.0
1022 2015-10-19 06:00:00         31     2      1.0
3192 2015-02-14 06:00:00         98     1      1.0

#### 2.3.2 Fusionar con **"Historial de errores"**

En función de datetime e ID máquina

In [34]:
#Añadir información del dataset sobre errores
df2_global = df_global.merge(dfp_errors, how='outer', on=['datetime', 'machineID'])
display(df2_global)

                datetime  machineID  comp  failure  errorID
0    2014-06-01 06:00:00          1   2.0      0.0      NaN
1    2014-07-16 06:00:00          1   4.0      0.0      NaN
2    2014-07-31 06:00:00          1   3.0      0.0      NaN
3    2014-12-13 06:00:00          1   1.0      0.0      NaN
4    2015-01-05 06:00:00          1   4.0      1.0      NaN
...                  ...        ...   ...      ...      ...
7192 2015-11-21 08:00:00        100   NaN      NaN      2.0
7193 2015-12-04 02:00:00        100   NaN      NaN      1.0
7194 2015-12-08 06:00:00        100   NaN      NaN      2.0
7195 2015-12-08 06:00:00        100   NaN      NaN      3.0
7196 2015-12-22 03:00:00        100   NaN      NaN      3.0

[7197 rows x 5 columns]

In [35]:
#Sustituir valores Nans por 0
df2_global = df2_global.fillna(0)
display(df2_global)

                datetime  machineID  comp  failure  errorID
0    2014-06-01 06:00:00          1   2.0      0.0      0.0
1    2014-07-16 06:00:00          1   4.0      0.0      0.0
2    2014-07-31 06:00:00          1   3.0      0.0      0.0
3    2014-12-13 06:00:00          1   1.0      0.0      0.0
4    2015-01-05 06:00:00          1   4.0      1.0      0.0
...                  ...        ...   ...      ...      ...
7192 2015-11-21 08:00:00        100   0.0      0.0      2.0
7193 2015-12-04 02:00:00        100   0.0      0.0      1.0
7194 2015-12-08 06:00:00        100   0.0      0.0      2.0
7195 2015-12-08 06:00:00        100   0.0      0.0      3.0
7196 2015-12-22 03:00:00        100   0.0      0.0      3.0

[7197 rows x 5 columns]

In [36]:
df2_global.sample(5)

                datetime  machineID  comp  failure  errorID
6056 2015-09-09 12:00:00         72   0.0      0.0      3.0
1781 2014-12-28 06:00:00         55   2.0      0.0      0.0
7108 2015-11-07 10:00:00         98   0.0      0.0      3.0
1869 2015-11-19 06:00:00         57   4.0      0.0      0.0
3660 2015-06-17 02:00:00         11   0.0      0.0      2.0

#### 2.3.3 Fusionar con **"Características de las máquinas"**

En función de datetime e ID máquina

In [37]:
#Añadir dataset telemetria
df3_global = pd.DataFrame()
df3_global = pd.merge_ordered(df2_global, dfp_telemetry, how='outer', on=['datetime', 'machineID'])
display(df3_global)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration
0,2014-06-01 06:00:00,1,2.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2014-06-01 06:00:00,6,2.0,0.0,0.0,NaN,NaN,NaN,NaN
2,2014-06-01 06:00:00,9,1.0,0.0,0.0,NaN,NaN,NaN,NaN
3,2014-06-01 06:00:00,9,2.0,0.0,0.0,NaN,NaN,NaN,NaN
4,2014-06-01 06:00:00,11,2.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
877521,2016-01-01 06:00:00,96,NaN,NaN,NaN,0.379133,0.435257,0.383392,0.332214
877522,2016-01-01 06:00:00,97,NaN,NaN,NaN,0.394662,0.574413,0.368988,0.405959
877523,2016-01-01 06:00:00,98,NaN,NaN,NaN,0.433384,0.652345,0.470002,0.368567
877524,2016-01-01 06:00:00,99,NaN,NaN,NaN,0.450634,0.520237,0.420613,0.473497
877525,2016-01-01 06:00:00,100,NaN,NaN,NaN,0.468990,0.642601,0.206795,0.370969

In [38]:
#Sustituir valores Nans por 0
df3_global = df3_global.fillna(0)
display(df3_global)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration
0,2014-06-01 06:00:00,1,2.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
1,2014-06-01 06:00:00,6,2.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
2,2014-06-01 06:00:00,9,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
3,2014-06-01 06:00:00,9,2.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
4,2014-06-01 06:00:00,11,2.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...
877521,2016-01-01 06:00:00,96,0.0,0.0,0.0,0.379133,0.435257,0.383392,0.332214
877522,2016-01-01 06:00:00,97,0.0,0.0,0.0,0.394662,0.574413,0.368988,0.405959
877523,2016-01-01 06:00:00,98,0.0,0.0,0.0,0.433384,0.652345,0.470002,0.368567
877524,2016-01-01 06:00:00,99,0.0,0.0,0.0,0.450634,0.520237,0.420613,0.473497
877525,2016-01-01 06:00:00,100,0.0,0.0,0.0,0.468990,0.642601,0.206795,0.370969

In [39]:
df3_global.sample(5)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration
380706,2015-06-08 12:00:00,81,0.0,0.0,0.0,0.442187,0.664258,0.398988,0.338988
412073,2015-06-21 14:00:00,9,0.0,0.0,0.0,0.455496,0.420733,0.469393,0.468996
102280,2015-02-12 15:00:00,72,0.0,0.0,0.0,0.366189,0.750138,0.243718,0.354917
796134,2015-11-28 09:00:00,94,0.0,0.0,0.0,0.383068,0.546162,0.232298,0.466075
726325,2015-10-30 08:00:00,76,0.0,0.0,0.0,0.321636,0.523760,0.348256,0.430109

#### 2.3.4 Fusionar con **"Condiciones y uso de la máquina"**

En función del ID de la máquina

In [40]:
#Añadir información del dataset sobre modelo y antigüedad máquinas
df4_global = pd.DataFrame()
df4_global = df3_global.merge(dfp_machines, how='outer', on=['machineID'])
display(df4_global)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration,model,age
0,2014-06-01 06:00:00,1,2.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3,18
1,2014-07-16 06:00:00,1,4.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3,18
2,2014-07-31 06:00:00,1,3.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3,18
3,2014-12-13 06:00:00,1,1.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,3,18
4,2015-01-01 06:00:00,1,0.0,0.0,0.0,0.499928,0.503194,0.459050,0.487945,3,18
...,...,...,...,...,...,...,...,...,...,...,...
877521,2016-01-01 02:00:00,53,0.0,0.0,0.0,0.354532,0.605798,0.382520,0.430129,3,5
877522,2016-01-01 03:00:00,53,0.0,0.0,0.0,0.606902,0.573795,0.437148,0.361308,3,5
877523,2016-01-01 04:00:00,53,0.0,0.0,0.0,0.380778,0.416333,0.413305,0.511339,3,5
877524,2016-01-01 05:00:00,53,0.0,0.0,0.0,0.453172,0.498780,0.474369,0.374303,3,5
877525,2016-01-01 06:00:00,53,0.0,0.0,0.0,0.462821,0.557032,0.473355,0.656865,3,5

Eliminar filas donde los datos de "características de las máquinas" sean nulos

In [41]:
#Eliminar filas según el valor de ciertas columnas (para eliminar filas sin información de telemetría)
#Crear dataframe de salida
df5_global = pd.DataFrame()
#Generar máscaras
mask_volt = df4_global['volt'] > 0.0 
mask_rotate = df4_global['rotate'] > 0.0 
mask_pressure = df4_global['pressure'] > 0.0 
mask_vibration = df4_global['vibration'] > 0.0 
#Aplicar filtrado
df5_global = df4_global[mask_volt&mask_rotate&mask_pressure&mask_vibration] 
#Visualizar resultado
display(df5_global)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration,model,age
4,2015-01-01 06:00:00,1,0.0,0.0,0.0,0.499928,0.503194,0.459050,0.487945,3,18
5,2015-01-01 07:00:00,1,0.0,0.0,0.0,0.415395,0.474884,0.328274,0.460912,3,18
6,2015-01-01 08:00:00,1,0.0,0.0,0.0,0.466796,0.698752,0.178160,0.311752,3,18
7,2015-01-01 09:00:00,1,0.0,0.0,0.0,0.412756,0.373197,0.430624,0.423896,3,18
8,2015-01-01 10:00:00,1,0.0,0.0,0.0,0.382001,0.533508,0.450207,0.179498,3,18
...,...,...,...,...,...,...,...,...,...,...,...
877521,2016-01-01 02:00:00,53,0.0,0.0,0.0,0.354532,0.605798,0.382520,0.430129,3,5
877522,2016-01-01 03:00:00,53,0.0,0.0,0.0,0.606902,0.573795,0.437148,0.361308,3,5
877523,2016-01-01 04:00:00,53,0.0,0.0,0.0,0.380778,0.416333,0.413305,0.511339,3,5
877524,2016-01-01 05:00:00,53,0.0,0.0,0.0,0.453172,0.498780,0.474369,0.374303,3,5
877525,2016-01-01 06:00:00,53,0.0,0.0,0.0,0.462821,0.557032,0.473355,0.656865,3,5

In [42]:
df5_global.sample(5)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration,model,age
142762,2015-04-09 02:00:00,52,0.0,0.0,0.0,0.342532,0.756409,0.453130,0.561632,3,14
58035,2015-08-13 03:00:00,19,0.0,0.0,0.0,0.595765,0.620924,0.542733,0.440074,3,17
430602,2015-01-26 18:00:00,82,0.0,0.0,0.0,0.623875,0.644686,0.359390,0.459141,3,11
661931,2015-06-07 07:00:00,69,0.0,0.0,0.0,0.768687,0.525441,0.436032,0.404949,2,19
119806,2015-08-27 11:00:00,41,0.0,0.0,0.0,0.326486,0.667028,0.345637,0.390259,4,9

#### Resultado final

In [43]:
display(df5_global)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration,model,age
4,2015-01-01 06:00:00,1,0.0,0.0,0.0,0.499928,0.503194,0.459050,0.487945,3,18
5,2015-01-01 07:00:00,1,0.0,0.0,0.0,0.415395,0.474884,0.328274,0.460912,3,18
6,2015-01-01 08:00:00,1,0.0,0.0,0.0,0.466796,0.698752,0.178160,0.311752,3,18
7,2015-01-01 09:00:00,1,0.0,0.0,0.0,0.412756,0.373197,0.430624,0.423896,3,18
8,2015-01-01 10:00:00,1,0.0,0.0,0.0,0.382001,0.533508,0.450207,0.179498,3,18
...,...,...,...,...,...,...,...,...,...,...,...
877521,2016-01-01 02:00:00,53,0.0,0.0,0.0,0.354532,0.605798,0.382520,0.430129,3,5
877522,2016-01-01 03:00:00,53,0.0,0.0,0.0,0.606902,0.573795,0.437148,0.361308,3,5
877523,2016-01-01 04:00:00,53,0.0,0.0,0.0,0.380778,0.416333,0.413305,0.511339,3,5
877524,2016-01-01 05:00:00,53,0.0,0.0,0.0,0.453172,0.498780,0.474369,0.374303,3,5
877525,2016-01-01 06:00:00,53,0.0,0.0,0.0,0.462821,0.557032,0.473355,0.656865,3,5

### 2.4 Adaptación y formateo de datos

#### 2.4.1 Ordenar datos cronológicamente

In [44]:
#Ordenar cronológicamente los datos

#Crear dataframe de salida
df6_global = pd.DataFrame()
#Ordenar valores
df6_global = df5_global.sort_values(by='datetime', ignore_index=True)
display(df6_global)

,datetime,machineID,comp,failure,errorID,volt,rotate,pressure,vibration,model,age
0,2015-01-01 06:00:00,1,0.0,0.0,0.0,0.499928,0.503194,0.459050,0.487945,3,18
1,2015-01-01 06:00:00,7,0.0,0.0,0.0,0.371838,0.684645,0.405606,0.446509,3,20
2,2015-01-01 06:00:00,92,0.0,0.0,0.0,0.393639,0.652632,0.439524,0.377285,1,2
3,2015-01-01 06:00:00,90,0.0,0.0,0.0,0.455292,0.660061,0.502267,0.324036,2,2
4,2015-01-01 06:00:00,85,0.0,0.0,0.0,0.574427,0.473123,0.386969,0.433311,1,16
...,...,...,...,...,...,...,...,...,...,...,...
877117,2016-01-01 06:00:00,68,0.0,0.0,0.0,0.528545,0.407511,0.338825,0.487238,3,10
877118,2016-01-01 06:00:00,58,0.0,0.0,0.0,0.555511,0.634306,0.373203,0.369217,1,5
877119,2016-01-01 06:00:00,9,0.0,0.0,0.0,0.498595,0.496501,0.311818,0.366918,4,7
877120,2016-01-01 06:00:00,60,0.0,0.0,0.0,0.488745,0.652625,0.317891,0.521918,4,3
877121,2016-01-01 06:00:00,53,0.0,0.0,0.0,0.462821,0.557032,0.473355,0.656865,3,5

#### 2.4.2 Reordenar columnas (atributos)

In [45]:
#Reordenar columnas
df6_global=df6_global.reindex(columns=['datetime','machineID','model','age','volt','rotate','pressure','vibration', 'comp','errorID','failure'])
display(df6_global)

,datetime,machineID,model,age,volt,rotate,pressure,vibration,comp,errorID,failure
0,2015-01-01 06:00:00,1,3,18,0.499928,0.503194,0.459050,0.487945,0.0,0.0,0.0
1,2015-01-01 06:00:00,7,3,20,0.371838,0.684645,0.405606,0.446509,0.0,0.0,0.0
2,2015-01-01 06:00:00,92,1,2,0.393639,0.652632,0.439524,0.377285,0.0,0.0,0.0
3,2015-01-01 06:00:00,90,2,2,0.455292,0.660061,0.502267,0.324036,0.0,0.0,0.0
4,2015-01-01 06:00:00,85,1,16,0.574427,0.473123,0.386969,0.433311,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
877117,2016-01-01 06:00:00,68,3,10,0.528545,0.407511,0.338825,0.487238,0.0,0.0,0.0
877118,2016-01-01 06:00:00,58,1,5,0.555511,0.634306,0.373203,0.369217,0.0,0.0,0.0
877119,2016-01-01 06:00:00,9,4,7,0.498595,0.496501,0.311818,0.366918,0.0,0.0,0.0
877120,2016-01-01 06:00:00,60,4,3,0.488745,0.652625,0.317891,0.521918,0.0,0.0,0.0
877121,2016-01-01 06:00:00,53,3,5,0.462821,0.557032,0.473355,0.656865,0.0,0.0,0.0

#### 2.4.3 Convertir valores de las columnas 'comp', 'errorID' y 'failure' a entero 

(quitar decimal, porque se muestran como 0.0)

In [46]:
# Convertir a enteros ciertas clases 
df6_global['comp'] = df6_global['comp'].astype(int)
df6_global['errorID'] = df6_global['errorID'].astype(int)
df6_global['failure'] = df6_global['failure'].astype(int)
display(df6_global)
df6_global.dtypes

,datetime,machineID,model,age,volt,rotate,pressure,vibration,comp,errorID,failure
0,2015-01-01 06:00:00,1,3,18,0.499928,0.503194,0.459050,0.487945,0,0,0
1,2015-01-01 06:00:00,7,3,20,0.371838,0.684645,0.405606,0.446509,0,0,0
2,2015-01-01 06:00:00,92,1,2,0.393639,0.652632,0.439524,0.377285,0,0,0
3,2015-01-01 06:00:00,90,2,2,0.455292,0.660061,0.502267,0.324036,0,0,0
4,2015-01-01 06:00:00,85,1,16,0.574427,0.473123,0.386969,0.433311,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
877117,2016-01-01 06:00:00,68,3,10,0.528545,0.407511,0.338825,0.487238,0,0,0
877118,2016-01-01 06:00:00,58,1,5,0.555511,0.634306,0.373203,0.369217,0,0,0
877119,2016-01-01 06:00:00,9,4,7,0.498595,0.496501,0.311818,0.366918,0,0,0
877120,2016-01-01 06:00:00,60,4,3,0.488745,0.652625,0.317891,0.521918,0,0,0
877121,2016-01-01 06:00:00,53,3,5,0.462821,0.557032,0.473355,0.656865,0,0,0

datetime     datetime64[ns]
machineID             int64
model                 int64
age                   int64
volt                float64
rotate              float64
pressure            float64
vibration           float64
comp                  int64
errorID               int64
failure               int64
dtype: object

#### 2.4.4 Quitar columna "datetime"

In [47]:
df6_global = df6_global.drop(columns=['datetime'],axis=1)

In [48]:
display(df6_global)

,machineID,model,age,volt,rotate,pressure,vibration,comp,errorID,failure
0,1,3,18,0.499928,0.503194,0.459050,0.487945,0,0,0
1,7,3,20,0.371838,0.684645,0.405606,0.446509,0,0,0
2,92,1,2,0.393639,0.652632,0.439524,0.377285,0,0,0
3,90,2,2,0.455292,0.660061,0.502267,0.324036,0,0,0
4,85,1,16,0.574427,0.473123,0.386969,0.433311,0,0,0
...,...,...,...,...,...,...,...,...,...,...
877117,68,3,10,0.528545,0.407511,0.338825,0.487238,0,0,0
877118,58,1,5,0.555511,0.634306,0.373203,0.369217,0,0,0
877119,9,4,7,0.498595,0.496501,0.311818,0.366918,0,0,0
877120,60,4,3,0.488745,0.652625,0.317891,0.521918,0,0,0
877121,53,3,5,0.462821,0.557032,0.473355,0.656865,0,0,0

#### Resultado final

In [49]:
display(df6_global)

,machineID,model,age,volt,rotate,pressure,vibration,comp,errorID,failure
0,1,3,18,0.499928,0.503194,0.459050,0.487945,0,0,0
1,7,3,20,0.371838,0.684645,0.405606,0.446509,0,0,0
2,92,1,2,0.393639,0.652632,0.439524,0.377285,0,0,0
3,90,2,2,0.455292,0.660061,0.502267,0.324036,0,0,0
4,85,1,16,0.574427,0.473123,0.386969,0.433311,0,0,0
...,...,...,...,...,...,...,...,...,...,...
877117,68,3,10,0.528545,0.407511,0.338825,0.487238,0,0,0
877118,58,1,5,0.555511,0.634306,0.373203,0.369217,0,0,0
877119,9,4,7,0.498595,0.496501,0.311818,0.366918,0,0,0
877120,60,4,3,0.488745,0.652625,0.317891,0.521918,0,0,0
877121,53,3,5,0.462821,0.557032,0.473355,0.656865,0,0,0

## Guardar conjunto de datos final en .csv

In [ ]:
#Guardar en .csv
df6_global.to_csv(BASE_FOLDER + 'dfp_global.csv', index=False)